Button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

fieldset {
    width: 383px;
    display: flex;
    justify-content: space-around;
}

textarea {
    border-radius: 5px;
}

h2 {
    font-size: 65px;
    margin: 0;
    cursor: default;
}

h3 {
    display: none;
}

section {
    min-height: 50vh;
    height: max-content;
    display: flex;
    justify-content: center;
}

.top-half {
    box-sizing: border-box;
    padding-top: 60px;
    margin-top: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Portfolio/contact-mountain.jpg);
    background-size: cover;
    background-position: center;
}

.contact-section {
    width: 90vw;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 500px;
    width: 45%;
    margin: 25px 10px;
}

.contact-info {
    width: 383px;
    font-size: 1.1rem;
    background-color: #6c839e;
    border-color: #a0c2ea;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 20px 0;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-button {
    position: absolute;
    bottom: 2.5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .radio-button {
    background-color: #ccc;
}

.radio-container input:checked ~ .radio-button {
    background-color: #6c839e;
}

.radio-button:after {
    content: "";
    position: absolute;
    display: none;
} 

.radio-container input:checked ~ .radio-button:after {
    display: block;
}

.radio-container .radio-button:after {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}

input[type=submit] {
    padding: 15px 70px;
    border-radius: 50px;
    background-color: #6c839e;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    transition: all 0.75s ease-in-out;
}

input[type=submit]:hover {
    background-color: #5f96c8;
    box-shadow: 0 5px 20px rgb(87, 87, 87), 0 15px 30px rgba(158, 158, 158, 0.22);
}

.contact-info::placeholder {
    color: whitesmoke;
    opacity: 1;
}

.contact-info:-ms-input-placeholder {
    color: whitesmoke;
}

.contact-info::-ms-input-placeholder {
    color: whitesmoke;
}