h2 {
    display: none;
}

h3 {
    font-size: 3.4rem;
}

h4 {
    font-size: 2rem;  
    margin-bottom: 15px;
    margin-top: 0px;
}

a[href="#projects"] {
    transition: all 0.75s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a[href="#projects"]:hover {
    transform: scale(1.3);
}

section {
    margin: 0px;
}

.splash-screen {
    background-image: url(../Images/Portfolio/mountians-small.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
}

.splash-screen p {
    color: #c1c7ce;
    padding-top: 50vh;
    padding-bottom: 50vh;
    font-size: 3rem;
    margin: 0px;
    cursor: default;
}

.splash-screen p i {
    color: #cec0e9;
}

.splash-screen a {
    position: absolute;
    bottom: 25px;
    font-size: 3rem;
    color: #85ceff;
    width: fit-content;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.uw-title {
    background-color: #947ebf;
    height: 200px;
    margin: 0px;
    color: #fee09a;
}

.uw-project {
    background-color: #b29d6c;
}

.project-square {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin: 25px;
    padding: 15px;
    border-width: 15px;
    border-style: solid;
    border-radius: 25px;
    transition: all 0.75s ease-in-out;
}

.uw-project .project-square {
    color: #ffe5aa;
    background-color: #9158ff;
    border-color: #4b2e83;
}

.project-square:hover {
    transform: scale(1.05);
}

.project-screenshot {
    border-radius: 25px;
    width: 300px;
    height: 204px;
}

.personal-title {
    background-color: #3c4d5d;
    height: 200px;
    margin: 0px;
}


.personal-project .project-square {
    background-color: #b09f96;
    border-color: #7d706a;
}

.personal-logo {
    width: 234.48px;
    height: 204px;
}

.wi-fi-connect-logo {
    width: 277.55px;
    height: 204px;
}