body {
    background-color: #2b2b2b;
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #252728;
    z-index: 1000;
}

header img {
    margin-left: 25px;
    transition: all 0.75s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

h1 {
    margin: 0;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #ebebeb;
}

a[href="index.html"] {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a[href="contact.html"] {
    height: fit-content;
    font-size: larger;
    margin-right: 50px;
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.75s ease-in-out;
}

a[href="contact.html"]:hover {
    background-color: #61778F;
    color: #ebebeb;
}

.logo-name-group {
    display: flex;
}

.logo {
    width: 50px;
    height: 43.49px;
}

.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer {
    background-image: url(../Images/Portfolio/orange-views.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    color: #110B08;
}

footer a {
    color: #110B08;
    text-decoration: underline;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
    