body {
    background-color: #2b2b2b;
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: white;
    transition: color 0.5s ease-in;
}

section {
    border-style: groove;
    border-width: 1px;
    border-color: gray;
    border-radius: 1%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    margin: 1rem;
}

img {
    filter: drop-shadow(0 0 10px #6b6b6b);
    border-radius: 1.5%;
}

img[class$="-photo"] {
    transition-property: height, width;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}

.tech-reviews-photo:hover {
    height: 50%;
    width: 50%;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    color: white;
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

header p {
    color: beige;
}

nav {
    font-size: 1.5rem;
}

nav a {
    color: coral;
}

a[href="https://crrempe.com"] {
    color: rgb(208, 255, 0);
}

a:hover {
    color: rgb(175, 175, 175);
}

nav a:hover {
    color: rgb(175, 86, 54);
}

section[class^="tech-"] {
    transition: border 2s ease-in-out;
}

.portfolio-title {
    color: aquamarine;
}

.technohole-text-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.middle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-logo {
    transition: width 0.5s ease-in-out;
    width: 10%;
    height: 10%;
    filter: drop-shadow(0 0 0 #000000);
}

.project-logo:hover {
    width: 12%;
    height: 12%;
}

.text-with-icon {
    width: 50%;
}

.tech-reviews:hover {
    border-color: rgb(255, 60, 0);
}

.tech-news:hover {
    border-color: rgb(166, 243, 50);
}